#write {
  h2 {
    color: var(--text-color);
  }
  blockquote {
    background: var(--quote-block-bg-color);
  }
  code {
    color: var(--code-color);
  }
  h2 {
    code {
      color: var(--text-color);
      background-color: var(--header-span-color);
    }
  }
  table.md-table {
    tr {
      th,
      td {
        border: 1px solid var(--header-span-color);
        &:hover {
          background-color: var(--side-bar-bg-color);
        }
      }
      th {
        color: var(--text-color);
      }
      td {
        background-color: var(--bg-color);
      }
    }
  }
  hr {
    border-top: 1px solid var(--header-span-color);
  }
}
content {
  background: var(--bg-color);
}
mark {
  color: var(--bg-color);
  background: var(--highlight-color);
  border-radius: 1px;
}
.task-list-item {
  input {
    &:checked::before,
    &::before {
      background-color: var(--bg-color);
    }
  }
}
.md-comment {
  color: var(--header-span-color);
}
