.typora-sourceview-on {
  #toggle-sourceview-btn {
    background: #41444b;
    margin-left: -2px;
    padding-left: 10px;
  }
}
.nav-group-item.active {
  color: var(--bg-color);
  background: var(--block-bg-color) !important;
}
.md-def-name::before {
  color: var(--md-char-color);
}
::-webkit-scrollbar-thumb {
  background: var(--block-bg-color);
}
