@use '../functions' as func;

:root {
  --text-color: #333;
  --primary-color: #396;
  --bg-color: #fff;
  --side-bar-bg-color: var(--bg-color);
  --marker-color: #6ea;
  --highlight-color: #6ea6;
  --header-span-color: var(--primary-color);
  --block-bg-color: #aec3;
  --img-shadow-color: #999;
  --search-hit-bg-color: var(--select-text-bg-color);
  --search-select-bg-color: #aec9;
  --control-text-hover-color: #aec;
  --rawblock-edit-panel-bd: var(--block-bg-color);
  --item-hover-bg-color: #cec;
  --active-file-bg-color: var(--block-bg-color);

  @include func.print() {
    --text-color: rgb(0, 0, 0);
  }
}
::-webkit-scrollbar-thumb {
  @include func.print() {
    background-color: transparent !important;
  }
}
