@use '../functions' as func;

:root {
  --text-color: #40464f;
  --primary-color: #4870ac;
  --bg-color: #ffffff;
  --side-bar-bg-color: var(--bg-color);
  --marker-color: #a2b6d4;
  --highlight-color: #ffffb5c2;
  --header-span-color: var(--primary-color);
  --block-bg-color: #f6f8fa;
  --img-shadow-color: #d2dff4;
  --search-hit-bg-color: var(--select-text-bg-color);
  --search-select-bg-color: #5bb3ff;
  --control-text-hover-color: #a2b6d4;
  --rawblock-edit-panel-bd: var(--block-bg-color);
  --item-hover-bg-color: rgb(246 248 250);
  --active-file-bg-color: var(--block-bg-color);

  @include func.print() {
    --text-color: rgb(0, 0, 0);
  }
}
::-webkit-scrollbar-thumb {
  @include func.print() {
    background-color: transparent !important;
  }
}
