pre {
  &.md-meta-block {
    color: var(--primary-color);
    background: #f6f8fa;
    margin: -37px 0rem 3.8rem;
    padding: 1.5rem;
    filter: drop-shadow(var(--img-shadow-color) 0px 3px 3px);
  }
  
  &.md-fences-advanced.md-focus .md-fences-adv-panel {
    border-radius: .8rem;
  }
}
