.megamenu-menu-header {
  color: var(--text-color);
  border: none;
  #megamenu-back-btn,
  .megamenu-menu-header-title-back,
  .megamenu-menu-header-title-menu {
    color: var(--text-color);
  }
}
.megamenu-menu {
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: none !important;
}

header,
#megamenu-content {
  background-color: var(--bg-color);
  background-image: none !important;
}
.md-search-hit {
  background-color: var(--search-hit-bg-color);
}
#recent-file-panel {
  tbody {
    tr:nth-child(2n-1) {
      color: var(--recent-file-panel-n-color);
      background-color: var(--recent-file-panel-n-bg-color);
    }
  }
}
