::-webkit-scrollbar-thumb {
  @include print() {
    background-color: transparent !important;
  }
}

#write {
  strong {
    color: var(--color-primary);
  }
  a {
    color: var(--color-primary);
  }
  .md-p,
  .md-heading {
    a {
      text-decoration: none;
      word-wrap: break-word;
      border-bottom: 1px solid var(--color-primary);
      margin: 2px;
    }
  }
  h2.md-heading {
    a {
      text-decoration: underline;
      text-decoration-thickness: 1.2px;
      text-underline-offset: 2px;
      border-bottom: 0;
    }
  }
  [md-inline=url],
  [md-inline=link]>.md-content,
  [md-inline=image]>.md-meta {
    color: var(--color-marker);
    font-weight: normal;
    word-break: break-all;
    padding-left: .15rem;
    padding-right: 0;
  }
  div.md-toc-tooltip {
    color: var(--color-primary);
    line-height: 1.6rem;
    background-color: var(--color-block-bg);
    border-top: none;
    border-radius: .5rem;
    margin-top: 10px;
    padding: .3rem .75rem;
    position: static;
  }
  &+p,
  blockquote p {
    color: var(--color-text);
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0;
    padding-top: .2rem;
    padding-bottom: .2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    padding: 0;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 2.3rem;
    padding-top: 0.9rem;
  }
  h2 {
    color: var(--color-bg);
    font-size: 1.5rem;
    background-color: var(--color-header-span);
    border-radius: 4px;
    margin: .3em 0;
    padding: 1px 12.5px;
    display: inline-block;
    a {
      color: var(--color-bg);
      border-bottom-color: var(--color-bg) !important;
    }
    strong {
      color: var(--color-bg);
    }
    code {
      background-color: var(--color-header-span);
    }
  }
  h3 {
    font-size: 1.4rem;
    margin: 1em 0;
  }
  h4,
  h5,
  h6 {
    font-weight: normal;
  }
  h4 {
    font-size: 1.2rem;
    margin: 0.8em 0;
  }
  h5,
  h6 {
    font-size: 1.1rem;
  }
  h5 {
    margin: 0.6em 0;
  }
  h6 {
    margin: 0.4em 0;
  }
  ul,
  ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
  }
  ul {
    list-style-type: disc;
    ul {
      list-style-type: square;
    }
  }
  ol {
    list-style-type: decimal;
  }
  li {
    section {
      color: var(--color-text);
      font-weight: 500;
      line-height: 1.7rem;
      text-align: justify;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  em {
    padding: 0 3px 0 0;
  }
  blockquote {
    font-size: .9em;
    background: var(--color-block-bg);
    border-left: 3px solid var(--color-primary);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 30px 15px 20px;
    overflow: auto;
    display: block;
  }
  code {
    color: var(--color-primary);
    font-size: 94%;
    font-weight: normal;
    word-wrap: break-word;
    word-break: break-all;
    background-color: var(--color-block-bg);
    border-radius: 3px;
    margin: 2px;
    padding: 2px 4px 2px;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
  p {
    &>.md-image:only-child:not(.md-img-error) img,
    &>img:only-child {
      border-radius: 3rem;
      margin: 0 auto;
      padding: 2rem;
      filter: drop-shadow(var(--color-img-shadow) 0 0 8px);
      display: block;
    }
  }
  table {
    width: 100%;
    font-size: 1em;
    text-align: justify;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 20px;
    display: table;
    overflow-x: auto;
    tr {
      border: 0;
      border-top: 1px solid #ccc;
      th,
      td {
        font-size: 1rem;
        text-align: justify;
        border: 1px solid #d9dfe4;
        padding: 5px 10px;
        &:hover {
          background-color: var(--color-block-bg);
        }
      }
      th {
        min-width: 10rem;
        color: var(--color-primary);
        font-weight: bold;
        text-align: center;
      }
    }
  }
  tbody {
    border: 0;
  }
  input[type=checkbox] {
    width: 0;
  }
}

.md-toc-content {
  &:empty::before {
    color: var(--color-primary);
  }
}

.md-toc {
  &:focus {
    .md-toc-content {
      border-color: var(--color-bg);
      margin: 9px -1px;
      margin-top: 9px;
    }
  }
  .md-toc-content {
    border-color: var(--color-bg);
    margin: 10px 0;
    margin-top: 10px;
  }
}

mark {
  color: inherit;
  background: var(--color-highlight);
  border-radius: 1px;
  padding: 1px .15rem;
}

blockquote {
  h3,
  h4,
  h5,
  h6 {
    &.md-focus::before {
      left: -1.3rem;
    }
  }
  .task-list-item {
    input::before {
      margin-top: .2rem;
    }
  }
}

::marker {
  color: var(--color-marker);
  font-weight: bold;
}

li {
  &.md-list-item {
    margin: 0.4rem 0;
  }
}

table {
  td {
    min-width: 32px;
  }
}

.md-table-resize-popover {
  width: auto !important;
}

sup {
  &.md-footnote {
    color: var(--color-primary);
    background-color: var(--color-block-bg);
  }
}

.md-def-name {
  color: var(--color-primary);
}

.md-inline-math {
  script {
    color: var(--color-primary);
  }
}

.md-rawblock-control {
  &:not(.md-rawblock-tooltip) {
    color: var(--color-md-char);
    background: var(--color-bg);
  }
}

.code-tooltip {
  box-shadow: none;
}

.md-rawblock-tooltip.md-rawblock-control {
  border-radius: 1rem;
}

.md-rawblock {
  .md-rawblock-tooltip {
    inset: auto .3rem auto auto;
    transform: translateY(-120%);
  }
}

.md-comment {
  color: #a8a8a9;
  opacity: 1;
}

hr {
  border: 0;
  border-top: 2px solid #eef2f5;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task-list-item {
  input {
    &::before {
      content: '';
      width: 1.0125rem;
      height: 1.0125rem;
      text-align: center;
      vertical-align: middle;
      background-color: #fdfdfd;
      border: 1px solid var(--color-marker);
      border-radius: 1.2rem;
      margin-top: -.6rem;
      margin-left: -.1rem;
      margin-right: .1rem;
      display: inline-block;
    }
    &:checked::before {
      content: '✓';
      color: var(--color-primary);
      font-size: .75rem;
      font-weight: bold;
      line-height: .8rem;
      background-color: var(--color-bg);
      -webkit-text-stroke: 1px var(--color-primary);
    }
  }
}

#typora-sidebar {
  height: 100%;
  color: var(--color-text);
  font-size: .92rem;
  background-color: var(--color-bg);
}

#sidebar-content {
  &.sidebar-content {
    margin-top: .5rem;
  }
}

.html-for-mac {
  #write {
    input[type=checkbox] {
      margin-top: .65rem;
    }
    .task-list-item {
      input::before {
        margin-top: -.85rem;
      }
    }
  }
}

.active-tab-files #info-panel-tab-file,
.active-tab-outline #info-panel-tab-outline,
.ty-show-search #info-panel-tab-search {
  .info-panel-tab-border {
    height: 1px;
    background-color: var(--color-primary);
    border-radius: 10px;
  }
}

.file-node-content {
  color: var(--color-primary);
  line-height: 1.6rem;
}

span {
  &.file-node-title-name-part {
    color: var(--color-text);
  }
  &.file-node-title-ext-part {
    color: var(--color-text);
  }
}

.file-node-icon {
  padding-right: .2rem;
}

.file-tree-node {
  &.active {
    &>.flie-node-background {
      border-color: var(--color-primary);
      border-left: 4px solid var(--color-primary);
    }
  }
}

#outline-content {
  height: 100%;
  font-size: .96rem;
  line-height: 1.6rem;
  overflow-x: hidden;
}

#outline-content,
.pin-outline {
  .outline-active {
    color: var(--color-primary);
  }
}

.outline-item {
  padding-left: 2em;
  &>.outline-expander::before {
    transform: translateY(-1px) !important;
  }
}

pre {
  &.md-meta-block {
    color: var(--color-primary);
    background: #f6f8fa;
    margin: -37px 0 3.8rem;
    padding: 1.5rem;
    filter: drop-shadow(var(--color-img-shadow) 0 3px 3px);
  }
  &.md-fences-advanced.md-focus {
    .md-fences-adv-panel {
      border-radius: .8rem;
    }
  }
  &.CodeMirror-line {
    padding: 0 1.2rem;
  }
}

#outline-content,
#file-library {
  &::-webkit-scrollbar {
    width: .5rem;
  }
}

:-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(179, 179, 179, 0.425);
}

::-webkit-scrollbar {
  width: 1rem;
}

/* --- */

.md-fences {
  &::before {
    content: ' ';
    width: 100%;
    background-color: #282c34;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10px 10px;
    border-radius: 5px;
    margin-bottom: -7px;
    display: block;
  }
  .cm-s-inner.CodeMirror {
    margin: 1.5rem 0;
  }
}


.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: auto;
}



.CodeMirror-gutters {
  white-space: nowrap;
  background: inherit;
  border-right: 1px solid #a2b6d452;
}


.CodeMirror-linenumber {
  color: var(--color-primary);
  text-align: right;
  padding: 0 3px 0 5px;
}

.cm-s-inner {
  &.CodeMirror {
    color: #4f5467;
    line-height: 1.6rem;
    background-color: var(--color-block-bg);
    border-radius: 10px;
    padding: 1.2rem .8rem;
  }
  .cm-keyword {
    color: #1694b6 !important;
  }
  
  .cm-operator {
    color: #2f86d2 !important;
  }
  
  .cm-variable,
  .cm-builtin,
  .cm-header,
  .cm-tag,
  .cm-property,
  .cm-quote {
    color: #b9218e !important;
  }
  .cm-variable-2 {
    color: #7aadad !important;
  }
  
  .cm-variable-3,
  .cm-type,
  .cm-atom {
    color: #378ed8 !important;
  }
  .cm-number {
    color: #1a5494 !important;
  }
  
  .cm-def,
  .cm-qualifier {
    color: #0744ac !important;
  }
  
  .cm-string {
    color: #6f42c2 !important;
  }
  
  .cm-string-2 {
    color: #27638f !important;
  }
  
  .cm-comment {
    color: #9a9a9a !important;
  }
  
  .cm-meta {
    color: #0b93be !important;
  }
  
  .cm-attribute {
    color: #8f6aa8 !important;
  }
  
  .cm-error {
    color: rgba(255, 255, 255, 1) !important;
    background-color: #b9218e40 !important;
  }
  
  .CodeMirror-matchingbracket {
    color: white !important;
    text-decoration: underline;
  }
  div.CodeMirror-selected {
    background: rgba(167, 178, 189, 0.2) !important;
  }
  
  &.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(167, 178, 189, 0.2) !important;
  }
  
  .CodeMirror-selected,
  .CodeMirror-selectedtext {
    background-color: rgba(167, 178, 189, 0.0) !important;
  }
  .CodeMirror-line {
    &::-moz-selection,
    &>span::-moz-selection,
    &>span>span::-moz-selection {
      background-color: rgba(167, 178, 189, 0.2);
    }
    
    &::selection,
    &>span::selection,
    &>span>span::selection {
      background-color: rgba(167, 178, 189, 0.2);
    }
  }
}



.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid var(--color-primary);
  z-index: 3;
}


.md-rawblock .md-rawblock-tooltip {
  inset: auto 0.3rem auto auto;
  transform: translateY(-120%);
}

/*
* Sitting - Unibody
*/

.megamenu-menu-header {
  color: var(--color-text);
  border: none;
  #megamenu-back-btn,
  .megamenu-menu-header-title-back,
  .megamenu-menu-header-title-menu {
    color: var(--color-text);
  }
}

.megamenu-menu {
  color: var(--color-text);
  background-color: var(--color-bg);
  box-shadow: none !important;
}

header,
#megamenu-content {
  background-image: none !important;
  background-color: var(--color-bg);
}

.md-search-hit {
  background-color: var(--color-search-hit-bg);
}

#recent-file-panel tbody tr:nth-child(2n-1) {
  color: var(--color-recent-file-panel-n);
  background-color: var(--color-recent-file-panel-n-bg);
}