#outline-content,
#file-library {
  &::-webkit-scrollbar {
    width: .5rem;
  }
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(179, 179, 179, 0.425);
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 1rem;
}