#typora-sidebar {
  height: 100%;
  color: var(--color-text);
  font-size: 0.92rem;
  background-color: var(--color-bg);
}

#sidebar-content.sidebar-content {
  margin-top: .5rem;
}
.html-for-mac {
  #write {
    input[type=checkbox] {
      margin-top: 0.65rem;
    }
    .task-list-item input::before {
      margin-top: -.85rem;
    }
  }
}
.active-tab-files #info-panel-tab-file,
.active-tab-outline #info-panel-tab-outline,
.ty-show-search #info-panel-tab-search {
  .info-panel-tab-border {
    height: 1px;
    background-color: var(--color-primary);
    border-radius: 10px;
  }
}
.file-node-content {
  color: var(--color-primary);
  line-height: 1.6rem;
}
span {
&.file-node-title-name-part {
    color: var(--color-text);
  }
  
  &.file-node-title-ext-part {
    color: var(--color-text);
  }
}
.file-node-icon {
  padding-right: 0.2rem;
}
.file-tree-node.active>.file-node-background {
  border-color: var(--color-primary);
  border-left: 4px solid var(--color-primary);
}
#outline-content {
  height: 100%;
  font-size: .96rem;
  line-height: 1.6rem;
  overflow-x: hidden;
}
#outline-content,
.pin-outline {
  .outline-active {
    color: var(--color-primary);
  }
}
.outline-item {
  padding-left: 2em;
  &>.outline-expander::before {
    transform: translateY(-1px) !important;
  }
}
